.env
*.csv
*.pkl
*.parquet
__pycache__/
.ipynb_checkpoints
.gitignore~

habitatmapdownloader.ipynb
intro_pyaqsapi.ipynb
modulair_example.py
old_aqicolors.py
particulate_matter.ipynb
save.intro_pyaqsapi.ipynb
purple_air.py
particulatematter.py